.add-to-cart-button {
  background-color: #f8375d; /* Cor do botão */
  color: white; /* Cor do texto */
  border: none; /* Remove a borda padrão */
  padding: 10px 20px; /* Adiciona preenchimento */
  border-radius: 5px; /* Adiciona bordas arredondadas */
  cursor: pointer; /* Muda o cursor para pointer */
  font-size: 16px; /* Define o tamanho da fonte */
  font-family: Arial, sans-serif; /* Define a fonte */
  transition: background-color 0.3s; /* Adiciona uma transição suave */
}

.add-to-cart-button:hover {
  background-color: #d73256; /* Cor de fundo ao passar o mouse */
}
